VideoWebServiceClient/web/WEB-INF/wsdl/localhost_8080/SOAPVideoService1/SearchVideoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://video.isdcm.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://video.isdcm.me.org/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="getVideosByAutor" type="tns:getVideosByAutor"/>

<xs:element name="getVideosByAutorResponse" type="tns:getVideosByAutorResponse"/>

<xs:element name="getVideosByCreatedDate" type="tns:getVideosByCreatedDate"/>

<xs:element name="getVideosByCreatedDateResponse" type="tns:getVideosByCreatedDateResponse"/>

<xs:element name="getVideosByTitle" type="tns:getVideosByTitle"/>

<xs:element name="getVideosByTitleResponse" type="tns:getVideosByTitleResponse"/>

<xs:complexType name="getVideosByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideosByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="format" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="reproductionNumber" type="xs:int"/>
<xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="duration" type="tns:duration" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="duration">
<xs:sequence>
<xs:element name="hour" type="xs:string" minOccurs="0"/>
<xs:element name="minutes" type="xs:string" minOccurs="0"/>
<xs:element name="seconds" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExceptionVideo">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideosByCreatedDate">
<xs:sequence>
<xs:element name="createdDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideosByCreatedDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideosByAutor">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideosByAutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>